@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
.fs-7 {
  font-size: 0.75rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.col-md-2-5 {
  flex: 0 0 auto;
  width: 21%;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

.main {
  height: 800px;
  color: white;
}

.vert-allign-center {
  display: flex;
  align-items: center;
}

.main1 {
  background: url(../media/main1.jpg) no-repeat center center;
}

.main2 {
  background: url(../media/main2.jpg) no-repeat center center;
}

.corazon {
  position: absolute;
  right: 4px;
  bottom: 0px;
}

/* .contt{
    margin-left: 173px;
} */
