.product-grid{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    .product-image{
        overflow: hidden;
        position: relative;
        a{display: block;
        }
        img{
            width: 100%;
            height: auto;
        }
        .pic-2{
            width: 100%;
            height: 100%;
            opacity: 0;
            transform-origin: top center;
            position: absolute;
            top: 0;
            left: 0;
            /* transition: all 250ms ease; */
            transition: all 700ms ease-in-out;
        }
    }
    &:hover .product-image .pic-2{
        opacity: 1;
    }
    &:hover .product-links{
        opacity: 1;
        transform: translateY(-50%) rotateX(0);
    }
    .product-links{
        padding: 0;
        margin: 0;
        list-style: none;
        opacity: 0;
        transform: translateY(-50%) rotateX(90deg);
        position: absolute;
        top: 6%;
        left: 7px;
        transition: all 300ms ease-in-out;
        li{ margin: 0;
            a{
                color: #606060;
                background: #fff;
                font-size: 18px;
                line-height: 38px;
                width: 35px;
                height: 35px;
                border-radius: 50px;
                display: block;
                position: relative;
                transition: all 0.3s ease 0s;
                &:hover{
                    color: #fff;
                    background: #ff008f;
                }
                &:before, &:after{
                    content: attr(data-tip);
                    color: #fff;
                    background: hsla(0, 0%, 20%, 0.83);
                    font-size: 12px;
                    text-align: center;
                    line-height: 20px;
                    min-width: 116px;
                    padding: 4px 5px;
                    border-radius: 6px;
                    display: none;
                    transform: translateY(-50%);
                    position: absolute;
                    left: 45px;
                    top: 50%;
                    transition: all 250ms ease-in-out 0s;
                }
                &:after{
                    content: '';
                    background: linear-gradient(45deg,hsla(0, 0%, 20%, 0.83) 50%, transparent 50%);
                    height: 10px;
                    min-width: auto;
                    width: 10px;
                    padding: 0;
                    border-radius: 0;
                    transform: translateY(-50%) rotate(45deg);
                    left: 41px;
                    z-index: -1;
                }
                &:hover:before, &:hover:after{
                    display: block;
                }
            } 
        }
    }
    .product-content{ padding: 17px 15px; }
    .title{
        font-size: 16px;
        font-weight: 700;
        text-transform: capitalize;
        margin: 0 0 7px;
        a{
            color: #484848;
            transition: all 0.3s ease 0s;
            text-decoration: none;
            &:hover{
                color: #ff008f;
            }
        }
    }
    .price{
        color: #242424;
        font-size: 14px;
        font-weight: 700;
    }
    .add-to-cart{
        color: #323232;
        background: #fff;
        font-size: 14px;
        font-weight:500;
        text-align: center;
        letter-spacing: 0.5px;
        width: 130px;
        padding: 9px 10px;
        border-radius: 50px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.08);
        opacity: 0;
        transform: translateX(-50%) scaleY(0);
        position: absolute;
        bottom: 15px;
        left: 50%;
        transition: all 0.3s ease;
        text-decoration: none;
        &:hover{
            color: #fff;
            background: #ff008f;
        }
    }
    &:hover{
        .add-to-cart{
            box-shadow: 0 0 10px #555;
            opacity: 1;
            transform: translateX(-50%) scaleY(1);
        }
    }
}




/* @media screen and (max-width: 990px) {
    .product-grid{ margin: 0 0 30px; }
} */