.open-button {
  color: #fff;
  background: #0066cc;
  padding: 10px;
  text-decoration: none;
  border: 1px solid #0157ad;
  border-radius: 3px;
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  display: none;
}

/* Popup inner div */
.popup-content {
  width: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 40px;
  margin-top: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 1);
  border-radius: 3px;
  background: #fff;
  position: relative;
}

/* Popup close button */
.close-button {
  width: 25px;
  height: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  color: #fff;
  text-decoration: none;
}
