.clock {
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.flip-clock-divider .flip-clock-label{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.para{
    position: relative;
}
.para-text{
    padding-top: 36px;
    color: white;
    font-family: 'Coolvetica','sans-serif';
    font-size: 42px !important;
}