.collections{
  font-size: 62px;
  padding-top: 135px;
}
.temp{
  /* height: 270px; */
  height: 250px;
  background-color: white;
}
.tempCollections{
  /* height: 500px; */
  height: 450px;
  background-color: white;
}
.displayBox{
    background-color: white;
}
.containerDisplay {
    max-width: 1390px;
    margin: auto;
    max-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    img {
      width: 96%;
      height: 100%;
      object-fit: cover;

      /* -webkit-box-reflect: below 2px
        linear-gradient(transparent, transparent, #0004); */

      transform-origin: center;
      transform: perspective(800px) rotateY(25deg);
      transition: 0.5s;
    }
    &:hover img {
      opacity: 0.5;
    }
    img:hover {
      cursor: pointer;
      transform: perspective(800px) rotateY(0deg);
      opacity: 1;
    }
}

.containerDisplayMobile{
    background-color: black;
    transition: 2s;
    div{
      height: 500px;
      margin-bottom: 25px;
    }
    :nth-child(3){
      margin-bottom: 0px;
    }    
    &:hover div {
      opacity: 0.3;
      transition: 0.5s
    }
    div:hover {
      opacity: 1;
      transition: 0.5s
    }
}
.mobileDisplay1{
    background: url(../media/main1.jpg) no-repeat center center;
}
.mobileDisplay2{
    background: url(../media/main2.jpg) no-repeat center center;
}
.mobileDisplay3{
    background: url(../media/main3.jpg) no-repeat center center;
}

@media (max-width: 768px){
    .tempCollections{
        height: 440px;
    }
    .collections{
      padding-top: 265px;
    }
}