

@media all and (max-width: 767px){

}

.bg-grey {
  background: #f0f0f0;
}
.logo-footer {
  width: 180px;
}
.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}
.footerSize{
  font-size: 14px;
}
.footerFont{
  font-family: "Playfair Display", serif;
  margin-bottom: 40px;
  position: relative;
  font-size: 1rem;
  &::after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
  }
}
footer p{
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}
.btn-footer {
  color: grey;

  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 27px;
  line-height: 47px;
}
.btn-footer:hover {
  text-decoration: none;    
  color: black !important;
}
.social a{
  text-decoration: none !important;
  color: gray;
  &:hover{
    color: black !important;
  }
}