.main{
    height: 800px;
    color: white;
}
.vert-allign-center {
    display: flex;
    align-items: center;
}
.main1{    
    background: url(../media/main1.jpg) no-repeat center center;
}
.main2{
    background: url(../media/main2.jpg) no-repeat center center;
}
.main3{
    background: url(../media/main3.jpg) no-repeat center center;
}
.main4{
    background: url(../media/main4.jpg) no-repeat center center;
}
.corazon{
    position: absolute;
    right: 4px;
    bottom: 0px;
}

/* a:hover{
    color: black !important;
} */
.navbar-brand{
    margin-right: 0;
}

.logo{
    width: 140px;
}
.icons{
    font-size: 23px;
}
.icons2{
    font-size: 36px;
}
.heroimg{
    color: white;
    height: 600px;
    background: url(../media/hero.jpg) center;
}

.para{
    position: relative;
}
.para-text{
    padding-top: 130px;
    color: white;
}
.navbarCollapse{
    align-items: center;
}

@media (max-width: 576px){
    .navbarCollapse{
        align-items: flex-start !important;
    }
}