.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem 0;
}
#wishlistModal, #accountModal, #WIPModal {
    .modal-footer {
        border-top: 0 !important;
    }
    .modal-header {
        border-bottom: 0 !important;
    }
}
.smileFace{
	width: 151px;
}
.button {
    pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}
.button::before,
.button::after {
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
//hyperion button
.button--hyperion {
	font-family: input-mono-narrow, monospace;
	font-weight: 500;
	padding: 1rem 1.5rem;
	border: 1px solid #000;
	overflow: hidden;
	color: #fff;
	span {
		display: block;
		position: relative;
	}
	>span {
		overflow: hidden;
		>span {
			overflow: hidden;
			mix-blend-mode: difference;
		}
	}
	&:hover {
		>span {
			>span {
				animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
			}
		}
	}
	&::before {
		content: '';
		background: #000;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
	}
	&:hover::before {
		transform: scale3d(0,1,1);
		transform-origin: 0% 50%;
	}
}
@keyframes MoveUpInitial {
	to {
		transform: translate3d(0,-105%,0);
	}
}
@keyframes MoveUpEnd {
	from {
		transform: translate3d(0,100%,0);
	}
	to {
		transform: translate3d(0,0,0);
	}
}
//hyperion button

//hyperion pushbar button
#pushbarButtons .button--hyperion {
	font-family: "Poppins", sans-serif;
	border: 1px solid #000;
	overflow: hidden;
	color: #fff;
	font-weight: 300;
	padding: 6px 12px;
	span {
		display: block;
		position: relative;
	}
	>span {
		overflow: hidden;
		>span {
			overflow: hidden;
			mix-blend-mode: difference;
		}
	}
	&:hover {
		>span {
			>span {
				animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
			}
		}
	}
	&::before {
		content: '';
		background: #fff;
		transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
		transform-origin: 100% 50%;
	}
	&:hover::before {
		transform: scale3d(0,1,1);
		transform-origin: 0% 50%;
	}
}
//hyperion pushbar button

//greip pushbar button
#pushbarButtons .button--greip {
	overflow: hidden;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	padding: 7px 21px;
	span {
		display: block;
		position: relative;
	}
	>span {
		overflow: hidden;
		mix-blend-mode: difference;
	}
	&:hover {
		>span {
			>span {
				animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
			}
		}
		&::before {
			transition-duration: 0.3s;
			-webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
		}
	}
	&::before {
		content: '';
		background: white;
		width: 100%;
		height: 100%;
		transform-origin: 50% 100%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: clip-path 0.2s, -webkit-clip-path 0.2s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
	}
}
//greip pushbar button

//greip button
.button--greip {
	overflow: hidden;
	color: #fff;
	font-family: input-mono-narrow, monospace;
	font-weight: 500;
	padding: 1rem 2rem;
	span {
		display: block;
		position: relative;
	}
	>span {
		overflow: hidden;
		mix-blend-mode: difference;
	}
	&:hover {
		>span {
			>span {
				animation: MoveUpInitial 0.2s forwards, MoveUpEnd 0.2s forwards 0.2s;
			}
		}
		&::before {
			transition-duration: 0.3s;
			-webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
			clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
		}
	}
	&::before {
		content: '';
		background: black;
		width: 100%;
		height: 100%;
		transform-origin: 50% 100%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		transition: clip-path 0.2s, -webkit-clip-path 0.2s;
		transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
	}
}

//greip button