@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	/* .navbar .nav-item:hover .nav-link{   } */
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.sticky-top{
    z-index: 999;
}
.navbarFont{
	font-size: 12px;
	font-family: "Roboto", sans-serif;
}
.dropdown-menu {
    margin-right:-1000px;
}
.dropdown-menu > li {
    display: inline-block;
}
.usd .dropdown-toggle::after {

    opacity: 1 !important;

}
.dropdown-menu-2{
	margin-right: auto;
}
.dropdown-menu-2 > li {
    display: block;
}
@media (max-width: 576px){
	.dropdown-menu {
		margin-right:auto;
	}
}
.logo{
    width: 140px;
    padding-bottom: 4px;
    margin-left: 13px;
}
.navbar-brand{
    margin-right: 0;
}
.icons{
    font-size: 23px;
    color: grey;
}
.nav-icon{
    font-size: 25px;
}
.cart-btn{
    position: relative;
    cursor: pointer;
}
.cart-items {
    position: absolute;
    top: 6px;
    right: 12px;
    background: black;
    padding: 0 3px;
    border-radius: 30%;
    color: white;
    font-size: 13px;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgb(0, 0, 0);
}

@media (max-width: 576px){
    .customNavbar {
        display: flex !important;
        flex-direction: row !important;
        /* align-items: flex-start !important; */
        i{
            padding: 3px;
        }
        /* li:nth-child(2), li:nth-child(3), li:nth-child(4){

        }  */ 
        li:nth-child(1){
            padding-left: 0;
        }
    }
    .icons{
        font-size: 19px;
    }
    .navbar-brand{
        margin: auto !important;
    }
    .cart-items {
        top: 5px;
        right: 6px;
        font-size: 11px;
    }
    /* .logo{
        padding-bottom: 4px;
        margin-left: 13px;
    } */
}
@media (min-width: 576px){
    .navbarCollapse {
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
    }    
}

.dropdown-toggle::after {
    opacity: 0 !important;
}
//oculta triangulo de dropdown en Men, Women,Collections