.parallax {
  /* The image used */
  background-image: url("../media/main2.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.main-container{
  background: white;
  position: relative;
  z-index: 1;
}

.temp{
  height: 400px;
}

.foot{
  position: sticky;
  bottom: 0px;
  left: 0;
  z-index: -1;
}

@media all and (max-width: 992px){
  .main-container{
  }
}